h1 {
	text-align:center;
	font-style: italic;
}

.cart{padding-top:50px;}

#checkout-img{
	width: 50px;
	height: 50px;
}
legend{
	font-weight:bold;
}

body{
	background-color: aliceblue;
}

#carousel-img{
	width: 600px;
	height: 500px;

}
#mason-carousel{
	padding-top: 50px;
	text-align: center;
	margin-left: 25%;
	margin-right:25%;
	padding-right: 10px;
	padding:left: 10px;
}
#next{

	padding: 50px 50px;
	background-color: green;
	font-size: 16px;
	color:white;
}	

#prev{

	padding: 50px 50px;
	background-color: green;
	font-size: 16px;
	color:white;

}	

button, input[type = submit]{
	background-color: green;
	color:white;
}
ul{
	text-align:center;
}